<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">

                <div class="error-details">
                <img src="./assets/images/404-not-found.jpg"
                class="img-responsive center-block"
                style="max-height:400px;padding-bottom:20px" />
                <br>
                <a href="https://www.freepik.com/free-photos-vectors/business"><small> <i>Business vector created by freepik - www.freepik.com</i></small></a>

         </div>
                <div class="error-actions">
                    <a href="/welcome" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a><a href="/welcome" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
