<app-navigation></app-navigation>

<div class="card">
    <div class="card-header">My Planned Meals</div>

    <div *ngIf='schedules && schedules.length == 0'>Nothing planned....</div>
    <div class="table-responsive">
        <table  id="schedules" class="table" *ngIf='schedules && schedules.length > 0'>
            <thead class="thead-light"> 
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Meal</th>
                  <th scope="col">Planned Recipes</th>
                  <th><button class="btn btn-outline-primary" (click)="createSchedule();">New Plan</button></th>
                  <th colspan="2"></th>
                </tr>
              </thead>
              <tbody >
                  <tr *ngFor='let thisSchedule of schedules; let i=index'>
                    <td>
                      {{thisSchedule.mealDate.toString().split('T')[0] | date}} 

                    </td>
                    <td>{{decodeMeal(thisSchedule.mealTime)}}</td>
                    <td><ul *ngFor ="let thisDish of thisSchedule.mealDishes let i = index">
                        <li> {{decodeDish(thisDish.dishType)}} : {{thisDish.recipeTitle}} </li>
                      </ul></td>
                  <td><button class="btn btn-primary" [routerLink]="['/schedule-edit', thisSchedule._id]">Edit</button></td>
                 <!--  <td><button class="btn btn-primary" (click)="editSchedule(thisSchedule._id);">Edit</button></td> -->
                  

                  <td><button class="btn btn-danger" (click)="deleteSchedule(thisSchedule._id,i);">Delete</button></td>
                  </tr>

              </tbody>
        </table>


    </div> 
</div>
<!--
<div>Authenticated user is {{currentUser.firstName}} {{currentUser.lastName}} and username is {{myUserId}}</div>
-->
