<app-navigation></app-navigation>
<div class="card">
    <div class="card-header text-center">
      <h1>{{this.title}}</h1>
    </div>
</div>

<div class="card-body">
    <div class="container-fluid">
        
  
<form [formGroup]="feedbackform" >
    <h2>{{this.recipeTitle}}</h2>
    <small>Commenting as {{currentUser.firstName}} {{currentUser.lastName}}, username {{myUserId}}</small>
    <table >
        <tr>
            <td>
                    <label for="comments">Comments:</label>
            </td>
            <td>
                    <textarea class="form-control" cols="40" rows="5" formControlName="comments" ngModel="{{Comments}}" id="comments"></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center">
                    <button class="btn btn-primary"  type="button" [disabled]="!feedbackform.valid" (click)="onSubmit();">Submit Feedback</button>
                    <!-- <a [routerLink]="['/welcome']" class="btn btn-link">Cancel</a> -->
                    <button class="btn btn-secondary" (click)="goBack();">Back</button>
            </td>
        </tr>
    </table>
    
</form>
</div>
</div>
<div>Authenticated user is {{currentUser.firstName}} {{currentUser.lastName}} and username is {{myUserId}}</div>
<div>Recipe Id is {{this.recipeId}}</div>
<h5>Value</h5>
<p>
  Form Status: {{ feedbackform.status }}
</p>
<pre>{{feedbackform.value | json}}</pre>
