<app-navigation></app-navigation>

<div class="card">
    <div class="card-header text-center">
      <h1>{{this.title}}</h1>
    </div>
</div>

<div class="card-body"> 
  <div class="container-fluid">

    <form [formGroup]="recipeForm">
    
    <label>
      Recipe Name:
      <input class="form-control" type="text" formControlName="name">
    </label>
    
    <label>
        Description:
        <input class="form-control" type="text" formControlName="description">
      </label>

      <label>
        Cuisine
        <input class="form-control" type="text" formControlName="cuisine">
      </label>

      <label>
        Usage
        <select class="form-control" id="usage" formControlName="usage">
                <option value="breakfast">Breakfast</option>
                <option value="lunch">Lunch</option>
                <option value="dinner">Dinner</option>
                <option value="snack">Snack</option>
        </select>
      </label>

      <label>
        Effort Level
        <input class="form-control" type="text" formControlName="effort_lvl">
      </label>

      <label>
        Servings
        <input class="form-control" type="text" formControlName="servings">
      </label>

      <label>
        Calories per serving
        <input class="form-control" type="text" formControlName="calories">
      </label>

      <h2>Ingredients</h2>
      <button class="btn btn-primary" (click)="addIngredient()">Add Ingredient</button>
    <div formArrayName="ingredients" *ngFor="let address of ingredients.controls; let i=index">  

        <div [formGroupName]="i">
            <label>
                Quantity
                <input type="text" class="form-control" formControlName="quantity">
            </label>
            <label>
                Unit
                <input type="text" class="form-control" formControlName="unit">
                </label>
            <label>
                Name
                <input type="text" class="form-control" formControlName="name">
            </label>
        
        </div>    
    
    </div>

    <h2>Preparation Steps</h2>
    <button class="btn btn-primary" (click)="addStep()">Add Step</button>
    <div formArrayName="steps">
          <div class="row"  *ngFor="let address of steps.controls; let j=index">
                  <div>
                    <textarea class="form-control" rows="3" [formControlName]="j"></textarea>
                  </div>
              </div> 
       
    </div>

       <button class="btn btn-primary"  (click)="onSubmit()">Save Recipe</button>

    </form>
  </div>
</div>

<!--
<div>Authenticated user is {{currentUser.firstName}} {{currentUser.lastName}} and username is {{myUserId}}</div>
    <h5>Form Value</h5>
    <pre>{{recipeForm.value | json}}</pre>
-->
  
